<div class="icons">
  <i routerLink="/splash" id="keyChev"class="fas fa-chevron-right fa-2x"></i>
  <i id="keyGoog"class="fab fa-google fa-2x"></i>
</div>
<hr>

<div class="container">
  <div (click)="handleClick('q')" class="gridCell" id="q">23</div>
  <div class="gridCell" id="w">23</div>
  <div class="gridCell" id="e">23</div>
  <div class="gridCell" id="r">23</div>
  <div class="gridCell" id="t">23</div>
  <div class="gridCell" id="a">23</div>
  <div class="gridCell" id="s">23</div>
  <div class="gridCell" id="d">23</div>
  <div class="gridCell" id="f">23</div>
  <div class="gridCell" id="g">23</div>
  <div class="gridCell" id="z">23</div>
  <div class="gridCell" id="x">23</div>
  <div class="gridCell" id="c">23</div>
  <div class="gridCell" id="v">23</div>
  <div class="gridCell" id="b">23</div>
  <div class="gridCell" id="y">23</div>
  <div class="gridCell" id="u">23</div>
  <div class="gridCell" id="i">23</div>
  <div class="gridCell" id="o">23</div>
  <div class="gridCell" id="p">23</div>
  <div class="gridCell" id="h">23</div>
  <div class="gridCell" id="j">23</div>
  <div class="gridCell" id="k">23</div>
  <div class="gridCell" id="l">23</div>
  <div class="gridCell" id="n">23</div>
  <div class="gridCell" id="m">23</div>
  <div class="gridCell" id="extraSpace">Hey, im extra af</div>
</div>
<!-- <p>hello</p> -->


//using ng click

<!--

<div class="icons">
  <i routerLink="/splash" id="keyChev"class="fas fa-chevron-right fa-2x"></i>
  <i id="keyGoog"class="fab fa-google fa-2x"></i>
</div>
<hr>

<div class="container" ng-app="myApp" ng-controller="appController">
  <button ng-click="clickMe()" class="gridCell" id="q">23</button>
  <div class="gridCell" id="w">23</div>
  <div class="gridCell" id="e">23</div>
  <div class="gridCell" id="r">23</div>
  <div class="gridCell" id="t">23</div>
  <div class="gridCell" id="a">23</div>
  <div class="gridCell" id="s">23</div>
  <div class="gridCell" id="d">23</div>
  <div class="gridCell" id="f">23</div>
  <div class="gridCell" id="g">23</div>
  <div class="gridCell" id="z">23</div>
  <div class="gridCell" id="x">23</div>
  <div class="gridCell" id="c">23</div>
  <div class="gridCell" id="v">23</div>
  <div class="gridCell" id="b">23</div>
  <div class="gridCell" id="y">23</div>
  <div class="gridCell" id="u">23</div>
  <div class="gridCell" id="i">23</div>
  <div class="gridCell" id="o">23</div>
  <div class="gridCell" id="p">23</div>
  <div class="gridCell" id="h">23</div>
  <div class="gridCell" id="j">23</div>
  <div class="gridCell" id="k">23</div>
  <div class="gridCell" id="l">23</div>
  <div class="gridCell" id="n">23</div>
  <div class="gridCell" id="m">23</div>
  <div class="gridCell" id="extraSpace">Hey, im extra af</div>
</div>
<!-- <p>hello</p> -->
<!-- <script>
let clickMe => (){
  console.log();
  // x.sound.play();
}
</script> -->
<script type="text/javascript">

    var app = angular.module('myApp',[]);

    app.controller('appController',function($scope){
        $scope.clickMe = function(){
            alert("anything");
        }
        });
</script> -->
