p{
  color:white;
}
.icons{
  padding: 25px;
  color: #333;
  // bottom: 100px;
  position: absolute;
  max-width: 100%;
  #keyChev{
    border-left: 1px solid #333;
    padding-left: 50px;
    transform: rotate(180deg);

    // margin-left: -100px;
    // color: red;
    &:hover{
      cursor: pointer;
      color: rgba(255, 255, 255, .7);
    }
  }
  #keyGoog{
    margin-left: 50px;
    &:hover{
      cursor: pointer;
      color: rgba(255, 255, 255, .7);
    }
  }
}
hr{
  width: calc(100vw - 2px;);
  border-color: #333;
  top: 82px;
  position: relative;
}




// grid begin

.container{
  // margin-top: 107px;
  margin-top: 83px;
  display: grid;
  width: 100vw;
  height: calc(100vh - 85px;);
  grid-template-columns: repeat(3, 1fr);
  .gridCell{
    //temp color for visualization of grid
    background-color: rgba(155, 250, 150, .2);
    &:hover{
      background-color: rgba(255, 255, 255, .7);
    }
  }
}

@media screen and (min-width: 650px) {
  hr{
    //dont make this display none or grid runs above icons
    border-color: black;
  }
}
