<div class="body">

  <div class="icons">
    <i routerLink="/splash" id="keyChev" class="fas fa-chevron-right fa-2x"></i>
    <i id="keyGoog" class="fab fa-google fa-2x"></i>
  </div>
  <hr>

  <div class="container">
    <div on-click="handleClick('q')" class="gridCell" id="q">q</div>
    <img src="../assets/img/q.png" class="transform" id="qNew">
    <div on-click="handleClick('w')" class="gridCell" id="w">w</div>
    <img src="../assets/img/w.png" class="transform" id="wNew"/>
    <div on-click="handleClick('e')" class="gridCell" id="e">e</div>
    <img src="../assets/img/e.png" class="transform" id="eNew"/>
    <div on-click="handleClick('r')" class="gridCell" id="r">r</div>
    <img src="../assets/img/r.png" class="transform" id="rNew"/>
    <div on-click="handleClick('t')" class="gridCell" id="t">t</div>
    <img src="../assets/img/t.png" class="transform" id="tNew"/>
    <div on-click="handleClick('a')" class="gridCell" id="a">a</div>
    <img src="../assets/img/a.png" class="transform" id="aNew"/>
    <div on-click="handleClick('s')" class="gridCell" id="s">s</div>
    <img src="../assets/img/s.png" class="transform" id="sNew"/>
    <div on-click="handleClick('d')" class="gridCell" id="d">d</div>
    <img src="../assets/img/d.png" class="transform" id="dNew"/>
    <div on-click="handleClick('f')" class="gridCell" id="f">f</div>
    <img src="../assets/img/f.png" class="transform" id="fNew"/>
    <div on-click="handleClick('g')" class="gridCell" id="g">g</div>
    <img src="../assets/img/g.png" class="transform" id="gNew"/>
    <div on-click="handleClick('z')" class="gridCell" id="z">z</div>
    <img src="../assets/img/z.png" class="transform" id="zNew"/>
    <div on-click="handleClick('x')" class="gridCell" id="x">x</div>
    <img src="../assets/img/x.png" class="transform" id="xNew"/>
    <div on-click="handleClick('c')" class="gridCell" id="c">c</div>
    <img src="../assets/img/c.png" class="transform" id="cNew"/>
    <div on-click="handleClick('v')" class="gridCell" id="v">v</div>
    <img src="../assets/img/v.png" class="transform" id="vNew"/>
    <div on-click="handleClick('b')" class="gridCell" id="b">b</div>
    <img src="../assets/img/b.png" class="transform" id="bNew"/>
    <div on-click="handleClick('y')" class="gridCell" id="y">y</div>
    <img src="../assets/img/y.png" class="transform" id="yNew"/>
    <div on-click="handleClick('u')" class="gridCell" id="u">u</div>
    <img src="../assets/img/u.png" class="transform" id="uNew"/>
    <div on-click="handleClick('i')" class="gridCell" id="i">i</div>
    <img src="../assets/img/i.png" class="transform" id="iNew"/>
    <div on-click="handleClick('o')" class="gridCell" id="o">o</div>
    <img src="../assets/img/o.png" class="transform" id="oNew"/>
    <div on-click="handleClick('p')" class="gridCell" id="p">p</div>
    <img src="../assets/img/p.png" class="transform" id="pNew"/>
    <div on-click="handleClick('h')" class="gridCell" id="h">h</div>
    <img src="../assets/img/h.png" class="transform" id="hNew"/>
    <div on-click="handleClick('j')" class="gridCell" id="j">j</div>
    <img src="../assets/img/j.png" class="transform" id="jNew"/>
    <div on-click="handleClick('k')" class="gridCell" id="k">k</div>
    <img src="../assets/img/k.png" class="transform" id="kNew"/>
    <div on-click="handleClick('l')" class="gridCell" id="l">l</div>
    <img src="../assets/img/l.png" class="transform" id="lNew"/>
    <div on-click="handleClick('n')" class="gridCell" id="n">n</div>
    <img src="../assets/img/n.png" class="transform" id="nNew"/>
    <div on-click="handleClick('m')" class="gridCell" id="m">m</div>
    <img src="../assets/img/m.png" class="transform" id="mNew"/>
    <div class="gridCell" id="extraSpace"> intern </div>
  </div>
</div>
