// body{
//   // margin:20px;
//
// }
* {

  color: white;
}

.icons{
  padding: 25px;
  color: #333;
  // bottom: 100px;
  position: absolute;
  max-width: 100%;
  #keyChev{
    border-left: 1px solid #333;
    padding-left: 50px;
    transform: rotate(180deg);

    // margin-left: -100px;
    // color: red;
    &:hover{
      cursor: pointer;
      color: rgba(255, 255, 255, .7);
    }
  }
  #keyGoog{
    margin-left: 50px;
    &:hover{
      cursor: pointer;
      color: rgba(255, 255, 255, .7);
    }
  }
}
hr{
  width: calc(100vw - 2px;);
  border-color: #333;
  top: 82px;
  position: relative;
}


// grid begin

.container{
  // margin-top: 107px;
  margin-top: 83px;
  // margin-bottom: -15px;
  display: grid;
  width: 100vw;
  height: calc(100vh - 93px;);
  // height:100vh;
  grid-template-columns: repeat(3, 1fr);
  .gridCell{
    //temp color for visualization of grid
    // background-color: rgba(155, 250, 150, .2);
    &:hover{
      // background-color: rgba(255, 255, 255, .7);
    }
  }
}

@media screen and (min-width: 650px) {
  hr{
    //dont make this display none or grid runs above icons
    border-color: black;
  }
}

// amination

//
// .q {
//   position: absolute;
//   width: 32vw;
//   height: 10vh;
//   // height: 80px;
//   // padding-right: 10%;
//   // padding-left: 10%;
//   background-image: url('./../../assets/img/sketch2/butterfly.svg');
//   background-size:cover;
//   background-position: center;
//   animation: fadeInUpBig 10s ease-in;
//   animation-duration: 3s;
// }


.q {
  position: relative;

  width: 50%;
  height: 100%;
  background-image: url('./../../assets/img/q.png');
  background-size:cover;
  background-position: center;
  animation: spinningDown 10s forwards;
  animation-duration: 3s;

}

.w {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('./../../assets/img/w.png');
  background-size:cover;
  background-position: center;
  animation: spinningDown 10s;
  animation-duration: 3s;
}

.e {
  position: relative;
  width: 50%;
  height: 100%;
  background-image: url('./../../assets/img/e.png');
  background-size:cover;
  background-position: center;
  animation: spinningDown 10s;
  animation-duration: 3s;
}

.r {
  position: relative;
  width: 60%;
  height: 100%;
  background-image: url('./../../assets/img/r.png');
  background-size:cover;
  background-position: center;
  animation: rubberBand 10s;
  animation-duration: 3s;
}
.t {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('./../../assets/img/t.png');
  background-size:cover;
  background-position: center;
  animation: fadeOutDown 10s;
  animation-duration: 3s;
}
.a {
  position: relative;
  width: 50%;
  height: 100%;
  background-image: url('./../../assets/img/q.png');
  background-size:cover;
  background-position: center;
  animation: zoomIn 10s;
  animation-duration: 3s;
}
.s {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('./../../assets/img/s.png');
  background-size:cover;
  background-position: center;
  animation: jackInTheBox 10s;
  animation-duration: 3s;
}
.d {
  position: relative;
  width: 60%;
  height:100%;
  background-image: url('./../../assets/img/d.png');
  background-size:cover;
  background-position: center;
  animation: rotateInUpLeft 10s;
  animation-duration: 3s;
}
.f {
  position: relative;
  width: 35%;
  height: 100%;
  background-image: url('./../../assets/img/f.png');
  background-size:cover;
  background-position: center;
  animation: bounceOutRight 10s;
  animation-duration: 5s;
}

.x{
  animation: jello 5s forwards;
  width: 70%;
  height: 100%;
  background-image: url('./../../assets/img/x.png');
  background-size:cover;
  background-position: center;
}
.c{
  animation: jello 5s forwards;
  width: 80%;
  height: 100%;
  background-image: url('./../../assets/img/c.png');
  background-size:cover;
  background-position: center;
}
.v{
  animation: jello 5s forwards;
  width: 80%;
  height: 100%;
  background-image: url('./../../assets/img/v.png');
  background-size:cover;
  background-position: center;
}
.b {
  animation: jello 5s forwards;
  width: 35%;
  height: 100%;
  background-image: url('./../../assets/img/b.png');
  background-size:cover;
  background-position: center;
}
.y {
  animation: jello 5s forwards;
  width: 80%;
  height: 100%;
  background-image: url('./../../assets/img/y.png');
  background-size:cover;
  background-position: center;
}
.u {
  animation: jello 5s forwards;
  width: 70%;
  height: 100%;
  background-image: url('./../../assets/img/u.png');
  background-size:cover;
  background-position: center;
}
.i {
  animation: jello 5s forwards;
  width: 80%;
  height: 100%;
  background-image: url('./../../assets/img/i.png');
  background-size:cover;
  background-position: center;
}
.o {
  animation: jello 5s forwards;
  width: 35%;
  height: 100%;
  background-image: url('./../../assets/img/o.png');
  background-size:cover;
  background-position: center;
}
.p {
  animation: jello 5s forwards;
  width: 70%;
  height: 100%;
  background-image: url('./../../assets/img/p.png');
  background-size:cover;
  background-position: center;
}
.h {
  animation: jello 5s forwards;
  width: 80%;
  height: 100%;
  background-image: url('./../../assets/img/h.png');
  background-size:cover;
  background-position: center;
}
.j {
  animation: jello 5s forwards;
  width: 80%;
  height: 100%;
  background-image: url('./../../assets/img/j.png');
  background-size:cover;
  background-position: center;
}
.k {
  animation: spinningUp 5s forwards;
  width: 30%;
  height: 100%;
  background-image: url('./../../assets/img/k.png');
  background-size:cover;
  background-position: center;
}
.l {
  animation: jello 5s forwards;
  width: 35%;
  height: 100%;
  background-image: url('./../../assets/img/l.png');
  background-size:cover;
  background-position: center;
}
.n {
  animation: spinningUp 5s forwards;
  width: 50%;
  height: 100%;
  background-image: url('./../../assets/img/n.png');
  background-size:cover;
  background-position: center;
}
.m {
  animation: spinningUp 5s forwards;
  width: 100%;
  height: 100%;
  background-image: url('./../../assets/img/m.png');
  background-size:cover;
  background-position: center;

}

.g {
  position: relative;
  width: 60%;
  height: 100%;
  background-image: url('./../../assets/img/g.png');
  background-size:cover;
  background-position: center;
  animation: sideInLeft 10s;
  animation-duration: 3s;
}

.z {
  position: relative;
  width: 80%;
  height: 100%;
  background-image: url('./../../assets/img/z.png');
  background-size:cover;
  background-position: center;
  animation: diagonal 10s;
  animation-duration: 3s;
  transition-timing-function: linear,
}





@keyframes butterfly {
  0%{transform: translate(0vw, 0) rotateZ(120deg);}
  20%{transform: translate(90vw, 0) rotateZ(-120deg);}
  21%{transform: translate(50vw, 50vh) rotateZ(120deg);}
  40%{transform: translate(50vw, 0) rotateZ(120deg);}
  60%{transform: translate(50vw, 0) rotateZ(-120deg);}
  61%{transform: translate(10vw, 50vh) rotateZ(120deg);}
  80%{transform: translate(10vw, 0vh) rotateZ(120deg);}
  90%{transform: translate(10vw, 0vh) rotateZ(-120deg);}
  100%{transform: translate(0vw, 0) rotateZ(120deg);}
}

@keyframes spinningUp {
  0% {
    bottom: 0;
    transform: rotate(0deg);
  }
  50% {
    bottom: 340px;
    transform: rotate(180deg);
  }
  100% {
    bottom: 0;
    transform: rotate(360deg);
  }
}
@keyframes spinningDown {
  0% {
    bottom: 0;
    transform: rotate(0deg);
  }
  50% {
    bottom: -340px;
    transform: rotate(180deg);
  }
  100% {
    bottom: 0;
    transform: rotate(360deg);
  }
}
@keyframes diagonal {
  0%{
    transform: translate(0, 0);
  }
  25% {
    transform: translateX(50px) translateY(25px);
  }
  50%{
    transform: translateX(100px) translateY(50px);
  }
  75%{
    transform: translateX(-50px) translateY(-25px);
  }
  100%{
    transform: translateX(-100px) translateY(-50px);
  }

}
