// body{
//   // margin:20px;
//
// }
* {
  border: 5px solid red;
  color: white;
}

.icons{
  padding: 25px;
  color: #333;
  // bottom: 100px;
  position: absolute;
  max-width: 100%;
  #keyChev{
    border-left: 1px solid #333;
    padding-left: 50px;
    transform: rotate(180deg);

    // margin-left: -100px;
    // color: red;
    &:hover{
      cursor: pointer;
      color: rgba(255, 255, 255, .7);
    }
  }
  #keyGoog{
    margin-left: 50px;
    &:hover{
      cursor: pointer;
      color: rgba(255, 255, 255, .7);
    }
  }
}
hr{
  width: calc(100vw - 2px;);
  border-color: #333;
  top: 82px;
  position: relative;
}


// grid begin

.container{
  // margin-top: 107px;
  margin-top: 83px;
  // margin-bottom: -15px;
  display: grid;
  width: 100vw;
  height: calc(100vh - 93px;);
  // height:100vh;
  grid-template-columns: repeat(3, 1fr);
  .gridCell{
    //temp color for visualization of grid
    // background-color: rgba(155, 250, 150, .2);
    &:hover{
      // background-color: rgba(255, 255, 255, .7);
    }
  }
}

@media screen and (min-width: 650px) {
  hr{
    //dont make this display none or grid runs above icons
    border-color: black;
  }
}

// amination
* {
  border: 2px solid red;
  color: white;
}
//
// .q {
//   position: absolute;
//   width: 32vw;
//   height: 10vh;
//   // height: 80px;
//   // padding-right: 10%;
//   // padding-left: 10%;
//   background-image: url('./../../assets/img/sketch2/butterfly.svg');
//   background-size:cover;
//   background-position: center;
//   animation: fadeInUpBig 10s ease-in;
//   animation-duration: 3s;
// }


.q {
  position: relative;
  width: 20%;
  height: 20%;
  padding-right: 55px;
  padding-left: 50px;
  padding-top: 65px;
  // left: calc(200px * 2);
  // top: calc(200px * random([20]);
  background-image: url('./../../assets/img/butterfly.svg');
  background-size:cover;
  background-position: center;
  animation: butterfly 10s forwards;
  animation-duration: 3s;
  // animation-delay: 2s;

}

.w {
  position: relative;
  width: 50%;
  height: 50%;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 20%;
  // left: calc(200px * 2);
  // top: calc(200px * random([20]);
  background-image: url('./../../assets/img/blue.svg');
  background-size:cover;
  background-position: center;
  animation: butterfly 10s forwards;
  animation-duration: 3s;
  // animation-delay: 2s;
}

.e {
  position: relative;
  width: 50%;
  height: 50%;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 20%;
  background-image: url('./../../assets/img/blue.svg');
  background-size:cover;
  background-position: center;
  animation: butterfly 10s forwards;
  animation-duration: 3s;

}
.k {
  position: absolute;
  width: 20%;
  height: 20%;
  // padding-right: px;
  // padding-left: 50px;
  padding-top: 65px;
  background-image: url('./../../assets/img/pink-note.svg');
  background-size:cover;
  background-position: center;
  animation: butterfly 10s forwards;
  animation-duration: 3s;


}


// @keyframes rotateIn {
//   0% {opacity: 0; transform: (45deg);}
//   50% {opacity: 50; transform: rotate(90deg);}
//   100% { opacity: 100; transform: (45deg);}



@keyframes butterfly {
  0%{transform: translate(90vw, 0) rotateZ(120deg);}
  20%{transform: translate(90vw, 0) rotateZ(-120deg);}
  21%{transform: translate(50vw, 50vh) rotateZ(120deg);}
  40%{transform: translate(50vw, 0) rotateZ(120deg);}
  60%{transform: translate(50vw, 0) rotateZ(-120deg);}
  61%{transform: translate(10vw, 50vh) rotateZ(120deg);}
  80%{transform: translate(10vw, 0vh) rotateZ(120deg);}
  90%{transform: translate(10vw, 0vh) rotateZ(-120deg);}
  100%{transform: translate(90vw, 0) rotateZ(120deg);}
}

