<div class="body">

  <div class="icons">
    <i routerLink="/splash" id="keyChev"class="fas fa-chevron-right fa-2x"></i>
    <i id="keyGoog"class="fab fa-google fa-2x"></i>
  </div>
  <hr>

  <div class="container">
    <div on-click="handleClick('q')" class="gridCell" id="q">23</div>
    <div on-click="handleClick('w')" class="gridCell" id="w">23</div>
    <div on-click="handleClick('e')" class="gridCell" id="e">23</div>
    <div on-click="handleClick('r')" class="gridCell" id="r">23</div>
    <div on-click="handleClick('t')" class="gridCell" id="t">23</div>
    <div on-click="handleClick('a')" class="gridCell" id="a">23</div>
    <div on-click="handleClick('s')" class="gridCell" id="s">23</div>
    <div on-click="handleClick('d')" class="gridCell" id="d">23</div>
    <div on-click="handleClick('f')" class="gridCell" id="f">23</div>
    <div on-click="handleClick('g')" class="gridCell" id="g">23</div>
    <div on-click="handleClick('z')" class="gridCell" id="z">23</div>
    <div on-click="handleClick('x')" class="gridCell" id="x">23</div>
    <div on-click="handleClick('c')" class="gridCell" id="c">23</div>
    <div on-click="handleClick('v')" class="gridCell" id="v">23</div>
    <div on-click="handleClick('b')" class="gridCell" id="b">23</div>
    <div on-click="handleClick('y')" class="gridCell" id="y">23</div>
    <div on-click="handleClick('u')" class="gridCell" id="u">23</div>
    <div on-click="handleClick('i')" class="gridCell" id="i">23</div>
    <div on-click="handleClick('o')" class="gridCell" id="o">23</div>
    <div on-click="handleClick('p')" class="gridCell" id="p">23</div>
    <div on-click="handleClick('h')" class="gridCell" id="h">23</div>
    <div on-click="handleClick('j')" class="gridCell" id="j">23</div>
    <div on-click="handleClick('k')" class="gridCell" id="k">23</div>
    <div on-click="handleClick('l')" class="gridCell" id="l">23</div>
    <div on-click="handleClick('n')" class="gridCell" id="n">23</div>
    <div on-click="handleClick('m')" class="gridCell" id="m">23</div>
    <div class="gridCell" id="extraSpace">Hey, im extra af</div>
  </div>
</div>
<!-- <p>hello</p> -->


<!-- //using ng click -->

<!--

<div class="icons">
  <i routerLink="/splash" id="keyChev"class="fas fa-chevron-right fa-2x"></i>
  <i id="keyGoog"class="fab fa-google fa-2x"></i>
</div>
<hr>

<div class="container" ng-app="myApp" ng-controller="appController">
  <button ng-click="clickMe()" class="gridCell" id="q">23</button>
  <div class="gridCell" id="w">23</div>
  <div class="gridCell" id="e">23</div>
  <div class="gridCell" id="r">23</div>
  <div class="gridCell" id="t">23</div>
  <div class="gridCell" id="a">23</div>
  <div class="gridCell" id="s">23</div>
  <div class="gridCell" id="d">23</div>
  <div class="gridCell" id="f">23</div>
  <div class="gridCell" id="g">23</div>
  <div class="gridCell" id="z">23</div>
  <div class="gridCell" id="x">23</div>
  <div class="gridCell" id="c">23</div>
  <div class="gridCell" id="v">23</div>
  <div class="gridCell" id="b">23</div>
  <div class="gridCell" id="y">23</div>
  <div class="gridCell" id="u">23</div>
  <div class="gridCell" id="i">23</div>
  <div class="gridCell" id="o">23</div>
  <div class="gridCell" id="p">23</div>
  <div class="gridCell" id="h">23</div>
  <div class="gridCell" id="j">23</div>
  <div class="gridCell" id="k">23</div>
  <div class="gridCell" id="l">23</div>
  <div class="gridCell" id="n">23</div>
  <div class="gridCell" id="m">23</div>
  <div class="gridCell" id="extraSpace">Hey, im extra af</div>
</div>
<!-- <p>hello</p> -->
<!-- <script>
let clickMe => (){
  console.log();
  // x.sound.play();
}
</script> -->
<!-- <script type="text/javascript">

    var app = angular.module('myApp',[]);

    app.controller('appController',function($scope){
        $scope.clickMe = function(){
            alert("anything");
        }
        });
</script> --> 
